@font-face {
  font-family: Nandia;
  src: url(./fonts/Nandia.ttf);
}
@font-face {
  font-family: Mondia;
  src: url(./fonts/MondiaThin.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
